body	{
	#background-color:#4B5B69;
	background-color:#000000;
	background-image: url(blur3.jpg);
	background-repeat: no-repeat}
.mainbar-container {}
.navbar-container {}
.page-container {}

.footer-container{}
h1	{text-align:center; 
	background-color:green; 
	color:red}


